@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Poppins", sans-serif;
}
